body {
  font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: red;
}

nav {
    font-size: 1.5em;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

/* @media (width: 500px) {
    h1 {
        color: aqua;
    }
} */
/* 
@media screen and (min-width: 500px) {
    h1 {
        color: rgb(6, 255, 255);
        font-size: x-large;
    }
    
}
@media screen and (min-width: 800px) {
    h1 {
        color: rgb(0, 129, 129);
        font-size: large;
    }
    
}
@media screen and (min-width: 1000px) {
    h1 {
        color: rgb(0, 67, 45);
        font-size: small;
    }
    
}

@media screen and (orientation: landscape) {
    body {
        background-color: black;
        color: white;
    }
} */
